<% if(flashNew && flashNew.length) { %>
<div class="mt-3 mb-0 alert alert-success alert-dismissible fade show" role="alert">
    <%= flashNew %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>


<% if(flashDelete && flashDelete.length) { %>
<div class="mt-3 mb-0 alert alert-warning alert-dismissible fade show" role="alert">
    <%= flashDelete %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>


<% if(flashUpdate && flashUpdate.length) { %>
<div class="mt-3 mb-0 alert alert-info alert-dismissible fade show" role="alert">
    <%= flashUpdate %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>


<% if(flashError && flashError.length) { %>
<div class="mt-3 mb-0 alert alert-danger alert-dismissible fade show" role="alert">
    <%= flashError %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>