<% layout('layouts/boilerplate') -%>

<h2 class="mt-3">Login</h2>

<form action="/login" method="POST" class="validation-needed mt-4" novalidate>
    <div class="mt-3">
        <label class="label" for="username">Enter username: </label>
        <input class="form-control" type="username" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mt-3">
        <label class="label" for="password">Enter password: </label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success mt-3">Login</button>
</form>
<div class="d-flex">
    <p class="mt-2">New User? </p>
    <a href="/register" class="btn btn-info ms-2" style="height: 40px; width: 80px;">Register</a>
</div>